@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prueba Sem 1</h1>
    <h3> Francisco Fuentes Valverde</h3>
    <h3> Andy Hidalgo Rodriguez</h3>
    <h3> Jeshua Quesada Villalobos</h3>
    <br />
    <h5> Programación Avanzada en Web | @DateTime.Now.Day-@DateTime.Now.Month-@DateTime.Now.Year</h5>
</div>